{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "semi": false,
  "arrowParens": "always",
  "bracketSpacing": false,
  "bracketSameLine": false,
  "singleQuote": true
}
