$basic-dark-color: #225af6;
$basic-orange-color: #ff5d00;
$border-width: 4px;
$basic-spinner-dimensions: 125px;
$main-spinner-dimensions: $basic-spinner-dimensions - $border-width * 2;
$small-spinner-dimensions: $main-spinner-dimensions * 0.7;

.loading-container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spinner {
    position: relative;
    overflow: hidden;
    width: $basic-spinner-dimensions;
    height: $basic-spinner-dimensions;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        border-width: 4px;
        border-style: solid;
        border-radius: 50%;
    }
}

.spinner.spinner-1 {
    @keyframes rotate-animation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes anti-rotate-animation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-360deg);
        }
    }

    &:before {
        width: $main-spinner-dimensions;
        height: $main-spinner-dimensions;
        border-bottom-color: $basic-dark-color;
        border-right-color: $basic-dark-color;
        border-top-color: rgba($basic-dark-color, 0);
        border-left-color: rgba($basic-dark-color, 0);
        top: 0px;
        left: 0px;
        animation: rotate-animation 1s linear 0s infinite;
    }

    &:after {
        width: $small-spinner-dimensions;
        height: $small-spinner-dimensions;
        border-bottom-color: $basic-orange-color;
        border-right-color: $basic-orange-color;
        border-top-color: rgba($basic-orange-color, 0);
        border-left-color: rgba($basic-orange-color, 0);
        top: ($main-spinner-dimensions - $small-spinner-dimensions) / 2;
        left: ($main-spinner-dimensions - $small-spinner-dimensions) / 2;
        animation: anti-rotate-animation 0.85s linear 0s infinite;
    }
}

.spinner2 {
    margin: 20px 0;
    text-align: center;
    border-radius: 4px;
}
